services:
  mongo:
    image: mongo:7
    ports: [ "27017:27017" ]
    volumes: [ mongo-data:/data/db ]
  mongo-express:
    image: mongo-express:1
    ports: [ "8081:8081" ]
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on: [ mongo ]
  api:
    build: .
    command: npm run dev
    ports: [ "4000:4000" ]
    env_file: .env
    volumes: [ .:/usr/src/app ]
    depends_on: [ mongo ]
volumes:
  mongo-data:
